header {
  width: 100%;
  height: 10em;
  text-align: center;
  padding: 20px;
  margin-bottom: 4em;
}

.grey {
  font-weight: normal;
  color: grey;
}

img {
  max-width: 200px;
  height: auto;
  object-fit: contain;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

#login {
  width: 50%;
  height: auto;
  padding: 2em;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#register {
  width: 50%;
  height: auto;
  padding: 2em;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

label {
  font-weight: bold;
}

input {
  height: 50px;
  padding: 5px;
  margin: 10px 0;
  border-color: lightgrey;
  border-style: solid;
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border-color: black;
  font-weight: bold;
  background-color: white;
  font-size: 15px;
}

.center-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-weight: normal;
}

.errors {
  color: red;
  font-weight: bold;
  align-items: left;
}

.left {
  align-items: left !important;
  float: left;
}

.small {
  width: 5em;
  height: auto;
  font-size: small;
}

.group-button {
  height: 10em;
  width: 15em;
  border: solid 1px lightgray;
  border-radius: 1em;
  margin: 2em;
}

.group-container {
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}

.group-list {
  display: flex;
  flex-flow: row wrap;
}

.action-forms {
  display: flex;
  height: 100%;
}

#addGroup {
  width: 40%;
  margin: 2em;
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}

#joinToGroup {
  flex-grow: 1;
  width: 40%;
  margin: 2em;
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}

.group,
.bills {
  font-size: small;
}

.group-input {
  width: 15em;
  height: auto;
}

.bills-input {
  width: 30em;
  height: auto;
}
.new-bills-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#add-bill {
  align-self: center;
  width: 40%;
  margin: 2em;
  display: flex;
  align-content: flex-start;
  flex-flow: column wrap;
}

.bills-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  height: 50px;
  text-align: left;
  vertical-align: center;
}

tr:nth-child(even) {
  background-color: #cecaca85;
}
